[data-widget-package="com.fliplet.dynamic-text"] .not-configured {
  border: 1px dotted #D4D4D4 !important;
  padding: 15px!important;
  text-align: center!important;
}

[data-widget-package="com.fliplet.dynamic-text"] .not-configured p {
  color: #6A6868 !important;
  font-family: "Open Sans", sans-serif!important;
  font-size: 12px!important;
  margin-bottom: 0!important;
}

[data-widget-package="com.fliplet.dynamic-text"] {
  display: inline-block;
  * {
    display: inline-block;
  }
}